/* 主题变量样式修改 */
:root {
   /* 标题 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

    /* 代码块颜色配置 */
    --vp-code-block-bg: #161618; /* 代码块的背景颜色 */
    --vp-code-block-divider-color: #8899a1; /* 代码块中分隔线的颜色 */
    --vp-code-line-highlight-color: #00000080; /* 代码块中高亮行的颜色 */
    --vp-code-line-number-color: #8899a1; /* 代码块中行号的颜色 */
}

/* 暗黑主题颜色 */
.dark {
    .index-page {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('/back.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    /* 返回顶部插件背景颜色 */
    .go-to-top[data-v-09295527] {
        background-color: #1b1b1f;
    }
}

/* 首页背景图片 */
.index-page {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url('/back.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* 返回顶部按钮 */
.go-to-top .icon-top[data-v-09295527] {
    width: 3em;
    height: 3em;
}

.go-to-top[data-v-09295527] {
    width: 50px;
    height: 50px;
    line-height: 80px;
}

/* 点击按钮颜色 */
.go-to-top[data-v-09295527]:hover {
    background-color: #3dd68c
}